@import url(./tools/_responsive.scss);
//@import url(./tools/_vars.scss);
//@import url(./tools/_mixin.scss);

@mixin conts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

$headings:(
    h1:4em,
    h2:3em,
    h3:2em,
    h4:1.5em,
    h5:1em,
    h6:0.50em
);

$colorFondos :rgba(0, 0, 0, 0.4);




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Poppins:ital,wght@1,200&family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/fondo3.avif);
    background-size:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    position: relative;
    padding-bottom: 14em ;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}


/*-----NAVBAR-----*/

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0 15px;
    position: relative;

    a {
        text-decoration: none;
        color: rgb(106, 102, 102);
        font-size: map-get($headings, h5 );
        font-weight: 500;
    }
    a:hover{
        color: black;
    }
}

.navbar ul li::before{
    content:"";
    height: 3px;
    width: 0%;
    background: rgb(56, 56, 56);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.5s ease-out;
}

.navbar ul li:hover::before{
    width: 100%;
}



/*-----INICIO------*/


.cont-home{
    @include conts;
    margin-top: 100px;

    h1{
        padding: 70px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 100px;
        text-transform: uppercase;
        font-weight: 600;
    }
}


.boton{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;

    button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 20px 80px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;

    &:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        transition:all ease-out 0.4s;
    }
  }

}
/*-----------FOOTER----------*/


footer{
    background: #111;
    height: 200px;
    max-width: 100%;
    padding-top: 40px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;

    .footer-cont{
     @include conts;
      align-items: center;
      text-align: center;
      top: 0;
      max-width: 100%;

      h3{
        font-size: map-get($headings, h5 );
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
      }
    }
}

.redes{
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 3rem 0;
    text-align: center;
}

.redes li{
    margin: 0 10px;
}

.redes a {
    text-decoration: none;
    color: rgb(187, 184, 184);
}
.redes a i {
    font-size: map-get($headings, h5 );
    transition: color .4s ease;
    
}


.redes a:hover i{
    color: rgb(102, 102, 102);
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    .copy{
        font-size:map-get($headings ,h5 );
        word-spacing: 2px;
        text-transform: capitalize;
        color: gray;
    }
}


.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 500;
}

/*-----TRUNOS-----*/


#carouselExampleCaptions ,
#carouselExampleControls{
    display: none;
}

.turnos-cont{
    text-align: center;
    display: grid;
    margin-top: 100px;

    .turnos-title{
        color: rgb(154, 154, 154);
        font-weight: 600;
        font-size: map-get($headings, h3);
    }
    .who-txt { 
        @extend .turnos-title;    
        color: rgb(255, 254, 254);
    }
}


.container-card{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
}

.container-card .card{
    margin-top: 30px;
    width: 280px;
    height: 350px;
    border-radius: 3px;
    background: $colorFondos;
    box-shadow:  $colorFondos;
    overflow:hidden ;
    text-align: center;
    transition: all 0.25s;
}

.container-card .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.container-card .card .nombre{
    font-weight: 500;
    font-size: map-get($headings, h4 );
    color: rgb(255, 255, 255);
}

.container-card .card{
    padding: 1rem 1rem;
    font-weight: 300;
}

.card:hover{
    cursor: pointer;
}

.nombre{
    color: white;
}


.enlace-serv{
    text-decoration: none;
}

    //  TURNOS___SERVICIOS //

#servicio-title{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    color: #fff;

    h2{
        font-size: map-get($headings, h3);
        font-weight: 500;
        padding-top: 120px;

        i{
            color: rgb(255, 255, 255);
            font-size: map-get($headings, h5 );
        }
    }
}

#servicio-cont{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 70px;
    flex-direction: row;
    width: 100%;
    padding-bottom: 120px;
}
 

#servicio-cont .card-serv{
    transition: all .25s;
    border-radius: 3px;
    width: 280px;
    height: 350px;
    border-radius: 3px;
    background: $colorFondos;
    box-shadow:  $colorFondos;
}


.card-serv-body {
    text-align: center;
    padding: 9px;
}


#servicio-cont .card-serv:hover{
    transform: translateY(-15px);
    box-shadow:  $colorFondos;
}










/*------NOSOTROS-------*/

.us-box{
    @include conts;
    margin: auto;
    padding: auto;
    text-align: center;
    margin-top: 100px;
}
.nosotros-title{
    margin-top: 40px;
    color: white;
    font-size: map-get($headings, h2);
}
.nosotros-texto{
    margin:50px;
    color: white;
}

.txt-map{
    color: rgb(189, 189, 189);
}

.iframe-small{
    display:none;
}


/*----------------CONTACTO----------------*/

#contacto-cont{
    margin-top:120px ;
}

.formulario-contenedor{
    @include conts;
}
.formulario{
    width: 450px;
    margin: auto;
    background: $colorFondos;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.h2-contact{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input , textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 3px;
}

textarea{
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
}

.boton-enviar{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.boton-enviar:hover{
    color:black;
    background-color: white;
    transition:all ease-out 0.4s ;
}



/*--------REGISTRO-------*/
.register-cont{
    margin-top: 150px;
}



.cont{
    @include conts;
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    background: $colorFondos;
    width: 450px;
    height: 400px;
    margin-top: 20px;
    border-radius: 3px;  
}

.input-register{
    max-width: 300px;
    border: none;
}

#icon-register{
    color: white;
}


#boton-reg{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    width: 300px;
}

#boton-reg:hover{
    color:black;
    background-color: white;
    transition:all ease-out 0.4s ;
}

.txt-reg{
    color: rgb(110, 109, 109);
}

.txt-reg2 {
    color: rgb(168, 167, 167);
} 

.link-login{
   text-decoration: none;
   color: white;
   font-weight: 600;
}


.link-login:hover{
    color: rgb(168, 168, 168);
}

.register-title{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}




/*--------------------------Responsive---------------------------*/

@media screen and (min-width:578px) and (max-width:820px){

    .navbar ul li:hover::before{
        display: none;
    }
    
    .cont-home{
        margin-top:100px;
    } 
    
    .cont-home h1{
        font-size: 80px;
    }
    
    .cont-home button{
        width: 350px;
    }


        /*-----TURNOS-----*/

    .container-card{
        display: none;
    }

    #servicio-cont{
        display: none;
    }

// // carousel barbero
    #carouselExampleCaptions{
        display: flex;
        margin:100px 100px 100px 100px;
    }
   
    
    .carousel-item {
        text-decoration: none;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .carousel-item .card-name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: map-get($headings, h2 );
        font-weight: 500;
    }
   
  //  Servicios 
  
    #servicio-title{
        font-size: map-get($headings, h4 );
    }  

    #carouselExampleControls{
        display: block;
        margin: 70px 100px 80px 100px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .carousel-item{
        text-align: center;
    }

    .carousel-item h5{
        color: white;
        font-size: map-get($headings, h2 );
    }
    .card-txt-resp{
        color: rgb(156, 155, 155);
        font-size: map-get($headings, h3 );
    }
   
   
    
}




 /*------CELULARES GRANDES / MINI TABLETS------*/

@media screen and (min-width:426px) and (max-width:577px){
    

    .navbar ul li::before{
        display: none;
    }

    .navbar ul li:hover::before{
        display: none;
    }

    .cont-home{
        margin-top: 100px;
        text-align: center;
    }
    
    .cont-home h1{
        font-size: 60px;
    }

    .cont-home button{
        width: 350px;
        height: 80px;
        text-align: center;
    }

     /*------TURNOS-----*/


    .container-card{
        display: none;
    }
    #servicio-cont{
        display: none;
    }

    #carouselExampleCaptions{
        display: flex;
        margin:70px 50px 60px 50px;
    }

    .carousel-item {
        text-decoration: none;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .carousel-item .card-name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: map-get($headings, h3 );
        font-weight: 500;
    }


    // Servicios

    #carouselExampleControls{
        display: block;
        margin: 35px 50px 50px 50px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .carousel-item{
        text-align: center;
    }

    .carousel-item h5{
        color: white;
        font-size: map-get($headings, h3 );
    }
    .card-txt-resp{
        color: rgb(156, 155, 155);
        font-size: map-get($headings, h4 );
    }

    /*-------CONTACTO------*/

    .formulario{
        width: 90%;
    }


    /*------REGISTRO------*/

    .cont{
        width: 90%;
    }
}



/*-------CELULARES-------*/

@media screen and (min-width:320px) and (max-width:425px){
    

    .navbar ul li::before{
        display: none;
    }

    .navbar ul li:hover::before{
        display: none;
    }
    
    .cont-home{
        margin-top: 100px;
        text-align: center;
    }

    .cont-home h1{
        font-size: 40px;
        text-align: center;
    }



    /*------TURNOS-----*/


    .container-card{
        display: none;
    }

    #servicio-cont{
        display: none;
    }

    #carouselExampleCaptions{
        display: block;
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .carousel-item {
        text-decoration: none;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .carousel-item .card-name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: map-get($headings, h3 );
        font-weight: 500;
    }

     // Servicios

     #carouselExampleControls{
        display: block;
        margin: 35px 50px 50px 50px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .carousel-item{
        text-align: center;
    }

    .carousel-item h5{
        color: white;
        font-size: map-get($headings, h3 );
    }
    .card-txt-resp{
        color: rgb(156, 155, 155);
        font-size: map-get($headings, h4 );
    }



    /*------NOSOTROS------*/

    iframe{
        display: none;
    }

    .map-cont{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .iframe-small{
        display: inline-block;
    }


    /*--------CONTACTO--------*/
    .formulario{
        width: 90%;
    }

    /*-----REGISTRO----*/
    .cont{
        width: 90%;
    }
}