/*--------------------------Responsive---------------------------*/

@media screen and (min-width:578px) and (max-width:700px){

    .navbar ul li:hover::before{
        display: none;
    }
    
    .cont-home{
        margin-top:100px;
    } 
    
    .cont-home h1{
        font-size: 80px;
    }
    
    .cont-home button{
        width: 350px;
    }


        /*-----TURNOS-----*/

    .container-card{
        display: none;
    }

    #servicio-cont{
        display: none;
    }

// // carousel barbero
    #carouselExampleCaptions{
        display: flex;
        margin:100px 100px 100px 100px;
    }
   
    
    .carousel-item {
        text-decoration: none;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .carousel-item .card-name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: map-get($headings, h2 );
        font-weight: 500;
    }
   
  //  Servicios 
  
    #servicio-title{
        font-size: map-get($headings, h4 );
    }  

    #carouselExampleControls{
        display: block;
        margin: 70px 100px 80px 100px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .carousel-item{
        text-align: center;
    }

    .carousel-item h5{
        color: white;
        font-size: map-get($headings, h2 );
    }
    .card-txt-resp{
        color: rgb(156, 155, 155);
        font-size: map-get($headings, h3 );
    }
   
   
    
}




 /*------CELULARES GRANDES / MINI TABLETS------*/

@media screen and (min-width:426px) and (max-width:577px){
    

    .navbar ul li::before{
        display: none;
    }

    .navbar ul li:hover::before{
        display: none;
    }

    .cont-home{
        margin-top: 100px;
        text-align: center;
    }
    
    .cont-home h1{
        font-size: 60px;
    }

    .cont-home button{
        width: 350px;
        height: 80px;
        text-align: center;
    }

     /*------TURNOS-----*/


    .container-card{
        display: none;
    }
    #servicio-cont{
        display: none;
    }

    #carouselExampleCaptions{
        display: flex;
        margin:70px 50px 60px 50px;
    }

    .carousel-item {
        text-decoration: none;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .carousel-item .card-name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: map-get($headings, h2 );
        font-weight: 500;
    }


    // Servicios

    #carouselExampleControls{
        display: block;
        margin: 35px 50px 50px 50px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .carousel-item{
        text-align: center;
    }

    .carousel-item h5{
        color: white;
        font-size: map-get($headings, h3 );
    }
    .card-txt-resp{
        color: rgb(156, 155, 155);
        font-size: map-get($headings, h4 );
    }

    /*-------CONTACTO------*/

    .formulario{
        width: 90%;
    }


    /*------REGISTRO------*/

    .cont{
        width: 90%;
    }
}



/*-------CELULARES-------*/

@media screen and (min-width:320px) and (max-width:425px){
    

    .navbar ul li::before{
        display: none;
    }

    .navbar ul li:hover::before{
        display: none;
    }
    
    .cont-home{
        margin-top: 100px;
        text-align: center;
    }

    .cont-home h1{
        font-size: 40px;
        text-align: center;
    }



    /*------TURNOS-----*/


    .container-card{
        display: none;
    }

    #servicio-cont{
        display: none;
    }

    #carouselExampleCaptions{
        display: block;
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .carousel-item {
        text-decoration: none;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .carousel-item .card-name{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: map-get($headings, h3 );
        font-weight: 500;
    }

     // Servicios

     #carouselExampleControls{
        display: block;
        margin: 35px 50px 50px 50px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .carousel-item{
        text-align: center;
    }

    .carousel-item h5{
        color: white;
        font-size: map-get($headings, h3 );
    }
    .card-txt-resp{
        color: rgb(156, 155, 155);
        font-size: map-get($headings, h4 );
    }



    /*------NOSOTROS------*/

    iframe{
        display: none;
    }

    .map-cont{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .iframe-small{
        display: inline-block;
    }


    /*--------CONTACTO--------*/
    .formulario{
        width: 90%;
    }

    /*-----REGISTRO----*/
    .cont{
        width: 90%;
    }
}